{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Tipos de Actividad</h1>
    <p><a class="btn btn-primary" href="{{ path('tipoactividad_new') }}">
        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> AGREGAR
        </a></p>  
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Cantidadhoras</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('tipoactividad_show', { 'id': entity.id }) }}">{{ entity.nombre }}</a></td>
                <td>{{ entity.cantidadHoras }}</td>
                <td><a href="{{ path('tipoactividad_edit', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-pencil"></span> EDITAR</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}
