{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Carrera - Creación</h1>

    {{ form_start(eorm) }}
    {{ form_errors(form) }}

    <div>
        {{ form_label(form.nombre) }}
        {{ form_errors(form.nombre) }}
        {{ form_widget(form.nombre) }}
    </div>
                
    {{ form_end(form) }}
    
    <a class="btn btn-primary" href="{{ path('carrera') }}"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
            Volver a la lista
        </a>
{% endblock %}
