{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Fechas Especiales</h1>
    <p><a class="btn btn-primary" href="{{ path('fechaespecial_new') }}"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> AGREGAR</a>
    </p>    
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha</th>
                <th>Descripcion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('fechaespecial_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.fecha %}{{ entity.fecha|date('Y-m-d') }}{% endif %}</td>
                <td>{{ entity.descripcion }}</td>
                <td>
                    <a href="{{ path('fechaespecial_show', { 'id': entity.id }) }}">VER</a> - 
                    <a href="{{ path('fechaespecial_edit', { 'id': entity.id }) }}">BORRAR</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}
