{% extends '::base.html.twig' %}

{% block stylesheets -%}
    <link rel="stylesheet" tyep="text/html" href="{{ asset('bundles/untdfreservasaulas/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.standalone.min.css')}}" />
{% endblock %}

{% block body -%}
    <h1>Fechas Especiales - Creación</h1>

    {{ form_start(form) }}
        {{ form_errors(form) }}
        
        <div>
            {{ form_label(form.fecha) }}
            {{ form_errors(form.fecha) }}
            {{ form_widget(form.fecha) }}
        </div>
        
        <p>----------</p>
        
        <div>
            {{ form_label(form.descripcion) }}
            {{ form_errors(form.descripcion) }}
            {{ form_widget(form.descripcion) }}
        </div>
        
        <p>----------</p>
                
        {{ form_end(form) }}

        
        <a class="btn btn-primary" href="{{ path('fechaespecial') }}"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
            Volver a la lista
        </a>
    
{% endblock %}
{% block javascripts -%}
    <script src="{{ asset('bundles/untdfreservasaulas/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js')}}"></script>
    <script src="{{ asset('bundles/untdfreservasaulas/vendor/bootstrap-datepicker/locales/bootstrap-datepicker.es.min.js')}}"></script>
    <script type="text/javascript">
        $('.fechareservada_input_text').datepicker({
            startDate: "{{ "now"|date('Y-m-d')}}",
            endDate: "{{ "now"|date_modify('+1 Year')|date('Y-m-d')}}",
            todayBtn: "linked",
            format: "yyyy-mm-dd",
            clearBtn: true,
            language: "es",
            orientation: "top auto",
            autoclose: true
        });
    </script>
{% endblock %}
