{% extends '::base.html.twig' %}
{% block stylesheets -%}
    <link rel="stylesheet" tyep="text/html" href="{{ asset('bundles/untdfreservasaulas/js/vendor/select2/css/select2.min.css')}}" />
    <link rel="stylesheet" tyep="text/html" href="{{ asset('bundles/untdfreservasaulas/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.standalone.min.css')}}" />
{% endblock %}

{% block body -%}
    <h1>Reserva - Modificar/Editar</h1>
                
    {% for flashMessage in app.session.flashbag.get('notice') %}
                    <div class="alert alert-danger flash-notice">
                        <span aria-hidden="true">{{ flashMessage }}</span>
                    </div>
                {% endfor %}
                
    {# {{ form(form) }} #}
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">

            {{ form_start(edit_form) }}

            <div class="contain"> 
                {{ form_label(edit_form.fecha) }} {{ form_errors(edit_form.fecha) }} {{ form_widget(edit_form.fecha) }}
                {{ form_label(edit_form.horadesde) }} {{ form_errors(edit_form.horadesde) }} {{ form_widget(edit_form.horadesde) }} 
                {{ form_label(edit_form.horahasta) }} {{ form_errors(edit_form.horahasta) }} {{ form_widget(edit_form.horahasta) }} 
                {{ form_label(edit_form.evento) }} {{ form_errors(edit_form.evento) }} {{ form_widget(edit_form.evento) }} 
                {{ form_label(edit_form.aula) }} {{ form_errors(edit_form.aula) }} {{ form_widget(edit_form.aula) }} 
                {{ form_label(edit_form.docente) }} {{ form_errors(edit_form.docente) }} {{ form_widget(edit_form.docente) }} 
                {{ form_label(edit_form.recursos) }} {{ form_errors(edit_form.recursos) }} {{ form_widget(edit_form.recursos) }} 
                {{ form_label(edit_form.observacion) }} {{ form_errors(edit_form.observacion) }} {{ form_widget(edit_form.observacion) }} 
                {{ form_label(edit_form.estado) }} {{ form_errors(edit_form.estado) }} {{ form_widget(edit_form.estado) }} 
            </div>

            {{ form_end(edit_form) }}    
        </div>
    </div>

        <ul class="record_actions">
    <li>
        <a class="btn btn-primary" href="{{ path('reserva') }}"> <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
            Volver a la lista
        </a>            
            
            
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
{% block javascripts -%}
    <script src="{{ asset('bundles/untdfreservasaulas/js/vendor/select2/js/select2.min.js')}}"></script>
    <script src="{{ asset('bundles/untdfreservasaulas/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js')}}"></script>
    <script src="{{ asset('bundles/untdfreservasaulas/vendor/bootstrap-datepicker/locales/bootstrap-datepicker.es.min.js')}}"></script>
    <script type="text/javascript">
        $('select').select2(/*{
            ajax: {
                url: "https://127.0.0.1/reservas/web/app_dev.php/admin/recurso/listado",
                method: "GET",
                dataType: "json"
            }
        }*/);
        $('.fechareservada_input_text').datepicker({
            startDate: "{{ "now"|date('Y-m-d')}}",
            endDate: "{{ "now"|date_modify('+1 Year')|date('Y-m-d')}}",
            todayBtn: "linked",
            format: "yyyy-mm-dd",
            clearBtn: true,
            language: "es",
            orientation: "top auto",
            autoclose: true
        });
    </script>
{% endblock %}
