{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Reservas</h1>
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-danger flash-notice">
            <span aria-hidden="true">{{ flashMessage }}</span>
        </div>
    {% endfor %}

    <p><a class="btn btn-primary" href="{{ path('reserva_new') }}"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> AGREGAR</a>
    <table class="table table-bordered records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha</th>
                <th>Desde</th>
                <th>Hasta</th>
                <th>Evento</th>
                <th>Aula</th>
                <th>Estado</th>
                <th>Observacion</th>
                <th>Recursos</th>
                <th>Reservado</th>
                <th>Docente</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('reserva_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{% if entity.fecha %}{{ entity.fecha|date('Y-m-d') }}{% endif %}</td>
                    <td>{% if entity.horadesde %}{{ entity.horadesde|date('H:i:s') }}{% endif %}</td>
                    <td>{% if entity.horahasta %}{{ entity.horahasta|date('H:i:s') }}{% endif %}</td>
                    <td>{{ entity.evento }}</td>
                    <td>{{ entity.aula }}</td>
                    <td>{{ entity.estado }}</td>
                    <td>{{ entity.observacion }}</td>
                    <td>{{ entity.obtenerListaRecursos() }}</td>
                    <td>{% if entity.reservafecha %}{{ entity.reservafecha|date('Y-m-d') }}{% endif %}</td>
                    <td>{{ entity.docente }}</td>
                    <td>
                        <ul>
                            <a href="{{ path('reserva_edit', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-pencil"></span>editar</a>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
