{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Usuarios</h1>
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success flash-notice"><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
            <span aria-hidden="true">{{ flashMessage }}</span>
        </div>
    {% endfor %}
    <p><a class="btn btn-primary" href="{{path('fos_user_registration_register')}}"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> REGISTRAR</a>
    </p>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Usuario</th>
                <th>E-mail</th>
                <th>Acci&oacute;n</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>

                    <td>{{ entity.username }}</td>
                    <td>{{ entity.email }}</td>
                    
                    <td> <form action="{{ path('admin_user_delete', { 'id': entity.id }) }}" method="post">
                            <input type="hidden" name="_method" value="DELETE" />
                            {{ form_widget(deleteForms[entity.id]) }}                            
                        </form></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}
