{% extends '::base.html.twig' %}
{% block stylesheets -%}
    <link rel="stylesheet" tyep="text/html" href="{{ asset('bundles/untdfreservasaulas/js/vendor/select2/css/select2.min.css')}}" />
{% endblock %}
{% block body -%}
    <h1>Curso - Edición</h1>

    {{ form_start(edit_form) }}
        {{ form_errors(edit_form) }}
        
        <div>
            {{ form_label(edit_form.nombre) }}
            {{ form_errors(edit_form.nombre) }}
            {{ form_widget(edit_form.nombre) }}
        </div>
        
        <p>----------</p>
        
        <div>
            {{ form_label(edit_form.anio) }}
            {{ form_errors(edit_form.anio) }}
            {{ form_widget(edit_form.anio) }}
        </div>
        
        <p>----------</p>
        
        <div>
            {{ form_label(edit_form.cantHoras) }}
            {{ form_errors(edit_form.cantHoras) }}
            {{ form_widget(edit_form.cantHoras) }}
        </div>
        
        <p>----------</p>
        
        <div>
            {{ form_label(edit_form.carreras) }}
            {{ form_errors(edit_form.carreras) }}
            {{ form_widget(edit_form.carreras) }}
        </div>
        
        <p>----------</p>
        
        {{ form_end(edit_form) }}

        <a class="btn btn-primary" href="{{ path('curso') }}"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
            Volver a la lista
        </a>
   
    {{ form(delete_form) }}

{% endblock %}
{% block javascripts -%}
    <script src="{{ asset('bundles/untdfreservasaulas/js/vendor/select2/js/select2.min.js')}}"></script>
    <script type="text/javascript">
        $('select').select2();
    </script>
{% endblock %}
