{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Cursos</h1>

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success flash-notice">
            <span aria-hidden="true">{{ flashMessage }}</span>
        </div>
    {% endfor %}

    <p><a class="btn btn-primary" href="{{ path('curso_new') }}">
        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> AGREGAR
        </a></p>  
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Año</th>
                <th>Cant. de horas</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.anio }}</td>
                <td>{{ entity.cantHoras }}</td>
                <td><a href="{{ path('curso_edit', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-pencil"></span> EDITAR</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}