{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Aula - Edición</h1>

    {{ form_start(edit_form) }}

    
        {{ form_errors(edit_form) }}
    

    
        {{ form_label(edit_form.nombre) }}
        {{ form_errors(edit_form.nombre) }}
        {{ form_widget(edit_form.nombre) }}
    
    
    
        {{ form_label(edit_form.edificio) }}
        {{ form_errors(edit_form.edificio) }}
        {{ form_widget(edit_form.edificio) }}
    
    


    {{ form_end(edit_form) }}
       
            <a class="btn btn-primary" href="{{ path('aulas') }}"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                Volver a la lista
            </a>
               
        {{ form(delete_form) }}
     
{% endblock %}
