{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Aula - Creación</h1>


    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="form-group">            
        {{form_label(form.nombre)}}
        {{form_errors(form.nombre)}}
        {{form_widget(form.nombre)}} 
    </div> 

    <p>----------</p>
    
    <div>
        {{form_label(form.edificio)}}
        {{form_errors(form.edificio)}}
        {{form_widget(form.edificio)}}            
    </div>

    <p>----------</p>
    
    {{ form_end(form) }}


    
            <a class="btn btn-primary" href="{{ path('aulas') }}"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                Volver a la lista
            </a>
        
{% endblock %}
